:root {
    --background: rgb(66, 87, 81);
    --div-background: rgb(192, 213, 207);
    --text-color: rgb(64, 67, 66);
}

body{
    background-color: var(--background);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

.one {
    background-color: var(--div-background);
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    height:500px;
    display: inline-block;
}

  
  