:root {
    --background: rgb(66, 87, 81);
    --div-background: rgb(192, 213, 207);
    --text-color: rgb(64, 67, 66);
}

body{
    background-color: var(--background);
    margin-top: 2em;
}

p{
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5em;
    padding:1em;
}

.one {
    background-color: var(--div-background);
    margin-left:auto;
    margin-right:auto;
    width: 400px;
}


  
  